body {
  text-align: center;
  font-size: 20px;
  padding: 2%;

}

* {
  list-style: none;
  margin: 0;
}

.column {
  float: left;
  width: 50%;
}
@media (max-width: 800px){
  .column{
    width: 100%;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btn1 {
  background-color: teal;
  color: white;
  padding: 12px 30px;
  text-align: center;
  font-size: 18px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.9s;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn1:hover {
  opacity: 0.5;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: teal;
  text-align: center;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}
.card {
  text-align: center;
  display: inline-block;
  justify-content: space-around;
  margin: 10px;
  max-width: 300px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;

}

.card.show {
  opacity: 1;
  transform: translateY(0);
}


.card button:hover {
  opacity: 0.5;
  
}

.selectedProjects {
  background-color: teal;
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-size: 18px;
  margin: 4px 4px;
  opacity: 1;
  transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s;
  border: none;
  border-radius: 45%;
}

.projects {
  background-color: white;
  color: black;
  padding: 6px 10px;
  text-align: center;
  font-size: 18px;
  margin: 4px 4px;
  opacity: 1;
  transition: transform 0.3s ease-in-out, background-color 0.3s, color 0.3s;
  border: 1px solid black;
  border-radius: 45%;
  
}
.card:hover > :first-child {
  /* background-color: teal; */
  -webkit-transform: scale(1.6);
  transform: scale(1.05);
}

.projects:hover, .dark-mode .projects:hover, .selectedProjects:hover {
  transform: scale(1.05);
  border-radius: 45%;
}

/* Dark Mode  */
body.dark-mode {
  background-color: #222222;
  color: #ffffff;
}


.dark-mode .projects {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.dark-mode .card {
  background-color: #4c4f51;
  color: white;
  box-shadow: 0 4px 2px 0 rgba(21, 20, 20, 0.2);
}
.dark-mode .social-icon {
  filter: invert(1);
}

.dark-mode a{
  color: teal;
}