.text-container {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 2.5s ease-out; */
    opacity: 0;
    transition: max-height 2.5s ease-out, opacity 2.5s ease-out;
  }
  
  .text-container.show {
    max-height: 500px; /* Adjust to the maximum height you want */
    /* transition: max-height 4.5s ease-in; */
    opacity: 1;
    transition: max-height 4.5s ease-in, opacity 1.5s ease-in;
  }

.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

